/* ===============================
   CARDS DE EVENTOS
   =============================== */

   .card-evento {
    background-color: rgb(0, 0, 0);               /* Fundo branco */
    border-radius: 10px;                   /* Cantos arredondados */
    padding: 20px;
  
  }
  
  /* ===============================
     LISTA DE EVENTOS (HOME)
     =============================== */
  
     .home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
    
    .eventos-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap; /* permite quebrar linha se tiver muitos eventos */
    }
    
    
    .evento:hover {
      transform: scale(1.05);
      background-color: #d155ff;
    }
    
    body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden; /* evita scroll lateral */
    }

    .faixa-imagens {
        width: 100%;
        overflow: hidden;
        height: 400px;
        margin-top: 20px;
        position: relative;
    
      }
      
      .container-imagens {
        display: flex;
        animation: deslizar 60s linear infinite;
      }
      
      .container-imagens img {
        height: 250px;
        margin-right: 20px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 7px solid rgb(255, 252, 252);
      }
      
      @keyframes deslizar {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      