/* ===============================
   CARDS DE EVENTOS
   =============================== */

   .card-evento {
    background-color: rgb(0, 0, 0);               /* Fundo branco */
    border-radius: 10px;                   /* Cantos arredondados */
    padding: 20px;
  
  }
  
  /* ===============================
     LISTA DE EVENTOS (HOME)
     =============================== */
  
     .home-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
    
    .eventos-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap; /* permite quebrar linha se tiver muitos eventos */
    }
    
    
    .evento:hover {
      transform: scale(1.05);
      background-color: #d155ff;
    }
    
    body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden; /* evita scroll lateral */
    }

    
      

      